{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">List of subjects</h1>

    <table class="table table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>NAME OF SUBJ</th>
                <th>TYPE</th>
            </tr>
        </thead>
        <tbody>
            {% for subject in subjects %}
            <tr>
                <td>{{ subject[0] }}</td>
                <td>{{ subject[1] }}</td>
                <td>{{ subject[2] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}